{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>О проекте</h1>
    </div>
    <div>Этот проект будет посылать уведомления , когда качество воздуха будет неприемлемо</div>
{% endblock %}
