{% extends 'base.html.twig' %}
{% block body %}
    <div class="page-header">
        <h1>Добавление подписчика</h1>
    </div>

{% if show_subscribe %}
    <a href="https://pushall.ru/?fs=818&key=15ae5257c11bfadd702eb65fb5ea9a85" class="btn btn-lg btn-primary">Подписаться</a>
    {{ url }}
{% else %}
    {{ res }}
{% endif %}
{% endblock %}
