{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>Отчет</h1>
    </div>
    <div id="graphdiv2" style="width:500px; height:300px;"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/dygraph/1.1.1/dygraph-combined.js"></script>
    <script type="text/javascript">
  g2 = new Dygraph(
    document.getElementById("graphdiv2"),
    "{{ path('get_stat') }}", // path to CSV file
            {
              labels: [ 'Date', 'CO2', 'VOC', 'H', 'T' ],
              series : {
                'H': {
                  axis: 'y2'
                },
                'T': {
                  axis: 'y2'
                }
              },
              axes: {
                x: {
                  gridLineWidth: 2,
                  drawGrid: true,
                  independentTicks: true
                },
                y: {
                  labelsKMB: true,
                  drawGrid: true,
                  independentTicks: true
                },
                y2: {
                  valueRange: [15, 50],
                  labelsKMB: true,
                  ticker: Dygraph.numericLinearTicks,
                  drawGrid: true,
                  independentTicks: true,
                  gridLineColor: "#ff0000",
                }
              }
            }
  );
</script>
    <!--http://dygraphs.com/tutorial.html-->
{% endblock %}

 